{% extends "pagePrototype.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}
    <h1>Contas</h1>

    {% for conta in contas %}
        <p>Número: {{ conta.numero}}</p>
        <p>Saldo: {{ conta.saldo }}</p>
        <p>Limite: {{ conta.limite }}</p>
        <p>Rendimento: {{ conta.rendimento }}</p>
        <p>Tipo: {{ conta.tipo }}</p>
    {% endfor %}

{% endblock %}

