{% extends "pagePrototype.twig" %}

{% block title %}Efetuar uma transferência | SISAB{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <h2 class="h2-heading">Efetuar uma transferência</h2>

        <div class="card">

            <div class="card-header">Registrar uma operação de transferência</div>

            <div class="card-body">

                <form class="needs-validation" novalidate method="GET" action="{{ path }}contas/operacao">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="selectContaOrigem">Número da conta de origem</label>
                            <select name="conta_origem" class="form-control custom-select" id="selectContaOrigem" required>
                                <option selected>Selecione a conta...</option>
                                {% for conta in contas %}
                                    <option value="{{ conta.id }}">{{ conta.numero }} de {{ conta.nome_agencia }}</option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Parece bom!
                            </div>
                            <div class="invalid-feedback">
                                Digite um número válido
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="selectContaDestino">Número da conta de destino</label>
                            <select name="conta_destino" class="form-control custom-select" id="selectContaDestino" required>
                                <option selected>Selecione a conta...</option>
                                {% for conta in contas %}
                                    <option value="{{ conta.id }}">{{ conta.numero }} de {{ conta.nome_agencia }}</option>
                                {% endfor %}
                            </select>
                            <div class="valid-feedback">
                                Parece bom!
                            </div>
                            <div class="invalid-feedback">
                                Digite um número válido
                            </div>
                        </div>
                    </div> <!--form-row-->

                    <div class="form-group">
                        <label for="inputAddress">Valor da transferência</label>
                        <input type="number" class="form-control" name="valor" id="inputValor" placeholder="Valor da transferência" required>
                        <div class="valid-feedback">
                            Parece bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um número válido
                        </div>
                    </div>

                    <input type="hidden" name="operacao" value="transferencia">

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">Efetuar operação</button>
                        </div>
                    </div>

                </form>

                {% if newMessage == true %}
                    <div class="alert alert-{{ flashAlert }}" role="alert">
                        {{ flashMessage }}

                        {% if flashAlert == 'success' and tipo != 'operacao' %}
                            <a href="{{ path }}contas/listar">Ver</a>
                            <script>
                                setTimeout("document.location = '{{ path }}contas/listar' ", 2000);
                            </script>
                        {% endif %}

                        {% if flashAlert == 'success' and tipo == 'operacao' and operacao == 'transferencia' %}
                            <a href="{{ path }}contas/listar">Mostrar</a>
                            <script>
                                setTimeout("document.location = '{{ path }}contas/listar' ", 2000);
                            </script>
                        {% endif %}

                        {% if flashAlert == 'danger' and tipo == 'operacao' and operacao == 'transferencia' %}
                            <script>
                                setTimeout("document.location = '{{ path }}contas/transferencia' ", 2000);
                            </script>
                        {% endif %}
                    </div>
                {% endif %}

            </div> <!--card-body-->

        </div> <!--card-->

    </div>

{% endblock %}

