{% extends "pagePrototype.twig" %}

{% block title %}Adicionar uma nova Agência | SISAB{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <div class="card">
            <div class="card-header">
                Adicionar uma nova agência
            </div>

            <div class="card-body">

                <form class="needs-validation" novalidate method="GET" action="{{ path }}agencias/criar">

                    <div class="form-group row">
                        <label for="inputNome" class="col-sm-2 col-form-label">Nome da Agência</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nome" id="inputNome" placeholder="Nome da Agência" required>
                        </div>
                        <div class="valid-feedback">
                            Parece bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um nome para a agência
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputNumero" class="col-sm-2 col-form-label">Número</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="numero" id="inputNumero" placeholder="Número da Agência" required>
                        </div>
                        <div class="valid-feedback">
                            Parece bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um número para a agência
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEndereco" class="col-sm-2 col-form-label">Endereço</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="endereco" id="inputEndereco" placeholder="Endereço" required>
                        </div>
                        <div class="valid-feedback">
                            Parece Bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um endereço para a agência
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputCapacidade" class="col-sm-2 col-form-label">Capacidade Máxima (n° de contas)</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="capacidade" id="inputCapacidade" placeholder="Capacidade" required>
                        </div>
                        <div class="valid-feedback">
                            Parece Bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite uma capacidade máxima para a agencia
                        </div>
                    </div>

                    <input type="hidden" name="sign" value="{{ signature }}">

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">Adicionar Agência</button>
                        </div>
                    </div>

                </form>

                {% if newMessage == true %}
                    <div class="alert alert-{{ flashAlert }}" role="alert">{{ flashMessage }} <a href="{{ path }}agencias/listar">Ver</a> </div>
                    <script>
                        setTimeout("document.location = '{{ path }}agencias/listar' ", 3000);
                    </script>
                {% endif %}

            </div> <!--card-body-->

        </div>

    </div> <!--container-->

    <script>

        (function() {
            'use strict';
            window.addEventListener('load', function() {

                var forms = document.getElementsByClassName('needs-validation');

                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}

