{% extends "pagePrototype.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <h2 class="h2-heading">Agências cadastradas no Sistema</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Número</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Capacidade</th>
                <th scope="col">Operações</th>
            </tr>
            </thead>
            <tbody>

            {% for agencia in agencias %}
                <tr>
                    <th scope="row">{{ agencia.id_agencia }}</th>
                    <td>{{ agencia.numero_agencia }}</td>
                    <td>{{ agencia.nome }}</td>
                    <td>{{ agencia.endereco }}</td>
                    <td>{{ agencia.capacidade }}</td>
                    <td>
                        <a href="" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit icon"></i></a>
                        <i class="fas icon">|</i>
                        <a href="" data-toggle="tooltip" data-placement="top" title="Deletar"><i class="fas fa-trash-alt icon"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div> <!--container-->

{% endblock %}

