<div class="col-12">

    <h2 class="h2-heading">Contas cadastradas no Sistema</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Número</th>
            <th scope="col">Saldo</th>
            <th scope="col">Limite</th>
            <th scope="col">Rendimento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Número da Agência</th>
            {% if controller  != 'listagem' %}<th scope="col">Operações</th>{% endif %}
        </tr>
        </thead>
        <tbody>

        {% for conta in contas %}
            <tr>
                <th scope="row">{{ conta.id }}</th>
                <td>{{ conta.numero }}</td>
                <td>{{ conta.saldo }}</td>
                <td>{{ conta.limite }}</td>
                <td>{{ conta.rendimento }}%</td>
                <td>{{ conta.tipo }}</td>
                <td>{{ conta.numero_agencia }}</td>
                {% if controller  != 'listagem' %}
                <td>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="fas fa-edit icon"></i>
                    </a>
                    <i class="fas icon">|</i>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Deletar">
                        <i class="fas fa-trash-alt icon"></i>
                    </a>
                    <i class="fas icon">|</i>
                    <a href="" data-toggle="tooltip" data-placement="top" title="Sincronizar">
                        <i class="fas fa-sync-alt icon"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

</div> <!--col-sm-8-->