<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path }}public/src/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path }}public/src/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ path }}public/src/css/index.css">
</head>
<body>

{% block body %}
{% endblock %}

<script src="{{ path }}public/src/js/jquery.min.js"></script>
<script src="{{ path }}public/src/js/popper.min.js"></script>
<script src="{{ path }}public/src/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function() {
        let inputSelect = $('#selectTipo');
        let selectInState = $('#selectTipo :selected');

        /**
         *
         * Pega o valor selecionado e em seguida insere o input específico no DOM (para a página da edição de contas)
         *
         * */
        switch (selectInState.val()) {
            case 'CONTA_POUPANCA':
                $('.input-rendimento .col-sm-10').append('<input type="number" class="form-control" name="rendimento" id="inputRendimento" value="{{ rendimento }}" placeholder="Rendimento">');
                $('.input-rendimento').show();
                break;

            case 'CONTA_ESPECIAL':
                $('.input-limite .col-sm-10').append('<input type="number" class="form-control" name="limite" id="inputLimite" value="{{ limite }}" placeholder="Limite">');
                $('.input-limite').show();
                break;
        }

        /**
         *
         * Captura o evento de troca do select e expõe a opção específica
         * */
        $('#selectTipo').change(function() {

            $('.input-limite').hide();
            $('.input-rendimento').hide();
            $('#inputLimite').remove();
            $('#inputRendimento').remove();

            if ($('#selectTipo').val() === 'CONTA_ESPECIAL') {
                $('.input-limite .col-sm-10').append('<input type="number" class="form-control" name="limite" id="inputLimite" placeholder="Limite">');
                $('.input-limite').show();
            } else if ($('#selectTipo').val() === 'CONTA_POUPANCA') {
                $('.input-rendimento .col-sm-10').append('<input type="number" class="form-control" name="rendimento" id="inputRendimento" placeholder="Rendimento">');
                $('.input-rendimento').show();
            }
        });
    });
</script>

</body>
</html>