<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path }}public/src/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ path }}public/src/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ path }}public/src/css/index.css">
</head>
<body>

{% block body %}
{% endblock %}

<script src="{{ path }}public/src/js/jquery.min.js"></script>
<script src="{{ path }}public/src/js/popper.min.js"></script>
<script src="{{ path }}public/src/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function() {
        $('#selectTipo').change(function() {
            $('.input-limite').hide();
            $('.input-rendimento').hide();

            if ($('#selectTipo').val() === 'CONTA_ESPECIAL') {
                $('.input-limite').show();
            } else if ($('#selectTipo').val() === 'CONTA_POUPANCA') {
                $('.input-rendimento').show();
            }
        });
    });
</script>

</body>
</html>